global

    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    tune.ssl.default-dh-param 2048
    # FIXME: upgrade to haproxy 1.5.something-higher to get support for these options
    # set default parameters to the modern configuration
    # ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    # ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    # ssl-default-server-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    # ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

defaults

    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


frontend controller

    mode    http
    bind    :443 ssl crt /etc/ssl/certs/STAR.sofree.us.pem
    bind    :80
    reqadd X-Forwarded-Proto:\ https
    redirect scheme https code 301 if !{ ssl_fc }
    option httpclose
    option forwardfor
    # HSTS (15768000 seconds = 6 months)
    http-response set-header Strict-Transport-Security max-age=15768000

    acl oldweb hdr(host) -i old.sofree.us
    acl mattermost hdr(host) -i mattermost.sofree.us
    acl proxmox hdr(host) -i proxmox.sofree.us
    acl zulip hdr(host) -i zulip.sofree.us
    acl bw hdr(host) -i bw.sofree.us
    acl oro hdr(host) -i oro.sofree.us
    acl crm hdr(host) -i crm.sofree.us
    acl moodle hdr(host) -i moodle.sofree.us
    acl survey hdr(host) -i survey.sofree.us
    acl mediagoblin hdr(host) -i mg.sofree.us
{% for macguffin in macguffins %}
    acl {{ macguffin }} hdr(host) -i {{ macguffin }}.sofree.us
{% endfor %}


    use_backend oldweb if oldweb
    use_backend mattermost if mattermost
    use_backend proxmox if proxmox
    use_backend zulip if zulip
    use_backend bw if bw
    use_backend oro if oro
    use_backend crm if crm
    use_backend moodle if moodle
    use_backend survey if survey
    use_backend mediagoblin if mediagoblin
{% for macguffin in macguffins %}
    use_backend {{ macguffin }} if {{ macguffin }}
{% endfor %}

    acl mad hdr(host)  -m beg -i prometheus.
    acl mad hdr(host)  -m beg -i grafana.
    acl mad hdr(host)  -m beg -i alertmanager.
    acl mad hdr(host)  -m beg -i blackbox_exporter.

    use_backend mad if mad

    default_backend fuga

backend fuga
    server fuga 185.54.115.84:80 check

backend oro
    server oro oro.int.sofree.us:80 check

backend mad
    server  mad mad-pgaf.int.sofree.us:80 check

backend oldweb
    server  oldweb 192.168.73.152:80 check

backend mattermost
    server  mattermost mattermost.int.sofree.us:8065 check

backend proxmox
    server proxmox proxmox.int.sofree.us:8006 check ssl verify none

backend zulip
    server zulip zulip.int.sofree.us:80 check

backend bw
    server bw bw.int.sofree.us:80 check

backend crm
    server crm crm.int.sofree.us:80 check

backend moodle
    server moodle moodle.int.sofree.us:80 check

backend survey
    server survey survey.int.sofree.us:80 check

backend mediagoblin
    server mediagoblin mg.int.sofree.us:80 check

{% for macguffin in macguffins %}
backend {{ macguffin }}
    server {{ macguffin }} {{ macguffin }}.int.sofree.us:80 check

{% endfor %}
